body {
  margin:0pt;
  font-size:8pt;
  font-family:Verdana,'Bitstream Vera Sans','DejaVu Sans',Arial,'Liberation Sans';
}

a {
  color:#007fff;
  text-decoration:none;
}

li {
  padding-top:5pt
}

.staticbox, .textbox {
  box-sizing:border-box;
  width:100%;word-break:break-all;
  border-width:1px;
  border-style:solid;
  border-color:grey;
  padding:10pt;
  box-shadow:3pt 3pt 3pt #D0D0D0;
}

.staticbox {
  background:#F8F8F8;
}

.textbox {
  background:#FFFFD0;
}

.header {
  text-align:center;
  font-weight:bolder;
  font-size:12pt;
  font-family:arial,verdana;
}


.stdbtn, .multibtn {
  cursor:pointer;
  background:linear-gradient(to bottom, #eaeaea 14%,#fcfcfc 52%,#e5e5e5 89%);
  border-width:1px;
  border-style:solid;
  border-color:#a9a9a9;
  border-radius:5pt;
  padding:3pt 10pt;
}

.sigparmbox {
  border-radius:5pt;
  padding:0 5pt 5pt 5pt;
}

.sigparmhead {
  border-radius:3pt;
  padding:3pt 5pt;
  z-index:5;
  position:relative;
  top:-10pt;
  margin-bottom:-3pt;
}

.defbtn {
  border-radius:2px;
  display:inline-block;
  cursor:pointer;
  padding:1pt 3pt;
  background-color:#def7fc;
}

.sigparmbox, .sigparmhead, .defbtn {
  border-width:1px;
  border-style:solid;
  border-color:#a9a9a9;
}

.sigparmbox, .sigparmhead {
  background-color:white;
}

.stdbtn, .multibtn, .sigparmhead {
  font-family:Arial,'Liberation Sans',Verdana,'Bitstream Vera Sans','DejaVu Sans';
  font-size:10pt;
}

.stdbtn, .multibtn, .sigparmbox {
  box-shadow:3pt 3pt 3pt #d0d0d0;
}

.stdbtn {
  display:inline-block;
}

.stdbtn {
  margin-top:15pt;
}

.multibtn {
  margin-top:12pt;
}

@media (max-width:768px) {

  .stdbtn, .multibtn, .sigparmbox{
    box-shadow:2pt 2pt 2pt #d0d0d0;
  }

  .header {
    font-size:12pt;
  }

  .header {
    padding-bottom:10pt;
  }
 
}
