body {
  margin:0pt;
  font-size:8pt;
  font-family:Verdana,'Bitstream Vera Sans','DejaVu Sans',Arial,'Liberation Sans';
}

a {
  color:#007fff;
  text-decoration:none;
}

li {
  padding-top:5pt
}

.header {
  text-align:center;
  font-weight:bolder;
  font-size:12pt;
  font-family:arial,verdana;
}

.keytable {
  border-collapse:collapse;
}
 
.keytable td {
  border-style:solid;
  border-color:#a9a9a9;
  border-width:0px;
} 

.stdbtn, .multibtn {
  cursor:pointer;
  background:linear-gradient(to bottom, #eaeaea 14%,#fcfcfc 52%,#e5e5e5 89%);
  border-width:1px;
  border-style:solid;
  border-color:#a9a9a9;
  border-radius:5pt;
  padding:3pt 10pt;
}

.stdbtn, .multibtn {
  font-family:Arial,'Liberation Sans',Verdana,'Bitstream Vera Sans','DejaVu Sans';
  font-size:10pt;
}

.stdbtn, .multibtn {
  box-shadow:3pt 3pt 3pt #d0d0d0;
}

.stdbtn {
  display:inline-block;
}

.stdbtn {
  margin-top:15pt;
}

.multibtn {
  margin-top:12pt;
}

@media (max-width:768px) {

  .stdbtn, .multibtn {
    box-shadow:2pt 2pt 2pt #d0d0d0;
  }

  .header {
    font-size:12pt;
  }

  .header {
    padding-bottom:10pt;
  }
 
}
